pkgbase = opera-stable-bin
	pkgdesc = A fast and secure web browser
	pkgver = 114.0.5282.86
	pkgrel = 1
	url = https://www.opera.com/
	install = opera-stable-bin.install
	arch = x86_64
	license = custom:opera
	depends = gtk3
	depends = qt6-base
	depends = qt5-base
	depends = alsa-lib
	depends = libnotify
	depends = curl
	depends = nss
	depends = libcups
	depends = libxss
	depends = ttf-font
	depends = desktop-file-utils
	depends = shared-mime-info
	depends = hicolor-icon-theme
	optdepends = opera-ffmpeg-codecs: playback of proprietary video/audio
	optdepends = upower: opera battery save
	conflicts = opera
	options = !strip
	options = !zipman
	backup = etc/opera/default
	source = https://get.geo.opera.com/ftp/pub/opera/desktop/114.0.5282.86/linux/opera-stable_114.0.5282.86_amd64.deb
	source = https://get.geo.opera.com/ftp/pub/opera/desktop/114.0.5282.86/linux/opera-stable_114.0.5282.86_amd64.deb.sha256sum
	source = opera
	source = default
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = 508512464e24126fddfb2c41a1e2e86624bdb0c0748084b6a922573b6cf6b9c5
	sha256sums = 4913d97dec0ddc99d1e089b029b9123c2c86b7c88d631c4d1111b119b09da027

pkgname = opera-stable-bin
